<a href="https://colab.research.google.com/github/Shraghav/GIT/blob/main/Assesement1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Create a list and a tuple. Perform the following operations in the created list and tuple.

In [9]:
#a) accessing elements
a=[100,20,80,36,40]
b=(1,2,3,4,5,6,7)
print(a[1],b[2])

20 3

In [10]:
#b) updating existing with new item
a[2]=99
print(a)

[100, 20, 99, 36, 40]

In [11]:
#c) loop through list and tuple
print("List elements:")
for i in a:
  print(i)
print("Tuple elements:")
for j in b:
  print(j)

List elements:
100
20
99
36
40
Tuple elements:
1
2
3
4
5
6
7

In [14]:
#d) sort, copy , join list
a.sort()
print(a)

copy_a=a.copy()
print(a)

c=[89,97,34,58]
a.extend(c)
print(a)

[20, 36, 40, 99, 100]
[20, 36, 40, 99, 100]
[20, 36, 40, 99, 100, 89, 97, 34, 58]

In [15]:
#e) join tuple
tup_1=(1,5,2,6)
tup_2=(8,9,5,4)
print(tup_1+tup_2)

(1, 5, 2, 6, 8, 9, 5, 4)

In [24]:
#a) access and change elements
dict_a={"Name":"Raghavan","Department":"AI&DS","Year":"2nd","College":"BIT","Home Town":"Coimbatore"}
print(dict_a)
dict_a['Name']="Harish"
print(dict_a)

{'Name': 'Raghavan', 'Department': 'AI&DS', 'Year': '2nd', 'College': 'BIT', 'Home Town': 'Coimbatore'}
{'Name': 'Harish', 'Department': 'AI&DS', 'Year': '2nd', 'College': 'BIT', 'Home Town': 'Coimbatore'}

In [29]:
#b) add and remove elements
dict_a["Year"]="2nd"
dict_a["Hobby"]="Relaxing"
print(dict_a)
del dict_a["Year"]

{'Name': 'Harish', 'Department': 'AI&DS', 'College': 'BIT', 'Home Town': 'Coimbatore', 'Hobby': 'Relaxing', 'Year': '2nd'}

In [35]:
#c) loop through dictionary and copy
for k in dict_a.values():
  print(k)
copy_dict=dict_a.copy()
print(copy_dict)

Harish
AI&DS
BIT
Coimbatore
Relaxing
{'Name': 'Harish', 'Department': 'AI&DS', 'College': 'BIT', 'Home Town': 'Coimbatore', 'Hobby': 'Relaxing'}

In [37]:
#d) nested dictionary
nested={1:{11:"Hello",12:"Dude"},2:"Happy",3:"Man"}
print(nested[1])

{11: 'Hello', 12: 'Dude'}